<h1>Notas</h1>

<div class="botao-nova-nota">
    <i class="fas fa-plus"></i>
    <p>Adicionar nota</p>
</div>

<div class="painel-notas">
    <div class="painel-nota">
        <p>08 Abr 2021 às 20:09</p>
        <p>Nota de teste</p>
        <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real.</p>
    </div>
    <div class="painel-nota">
        <p>08 Abr 2021 às 20:09</p>
        <p>Nota de teste</p>
        <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real.</p>
    </div>
    <div class="painel-nota">
        <p>08 Abr 2021 às 20:09</p>
        <p>Nota de teste</p>
        <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real.</p>
    </div>
    <div class="painel-nota">
        <p>08 Abr 2021 às 20:09</p>
        <p>Nota de teste</p>
        <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real.</p>
    </div>
    <div class="painel-nota">
        <p>08 Abr 2021 às 20:09</p>
        <p>Nota de teste</p>
        <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real.</p>
    </div>
    <div class="painel-nota">
        <p>08 Abr 2021 às 20:09</p>
        <p>Nota de teste</p>
        <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real.</p>
    </div>
    <div class="painel-nota">
        <p>08 Abr 2021 às 20:09</p>
        <p>Nota de teste</p>
        <p>A expressão Lorem ipsum em design gráfico e editoração é um texto padrão em latim utilizado na produção gráfica para preencher os espaços de texto em publicações para testar e ajustar aspectos visuais antes de utilizar conteúdo real.</p>
    </div>
</div>