<div class="nota-cabecalho">
    <p>Notas > Nota de teste</p>
    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
</div>

<div class="nota-titulo">
    <h1>Nota de teste</h1>
    <h4>Última modificação: <span>08/08/2021 às 20:09</span></h4>
</div>

<div class="nota-ferramentas">
    <a href="#"><i class="fas fa-bold"></i></a>
    <a href="#"><i class="fas fa-italic"></i></a>
    <a href="#"><i class="fas fa-link"></i></a>
    <a href="#"><i class="fas fa-bars"></i></a>
    <a href="#"><i class="fas fa-list"></i></a>

    <div style="border-right: 2px solid #eeee;"></div>

    <a href="#"><i class="fas fa-align-left"></i></a>
    <a href="#"><i class="fas fa-align-center"></i></a>
    <a href="#"><i class="fas fa-align-right"></i></a>
    <a href="#"><i class="fas fa-align-justify"></i></a>

    <div style="border-right: 2px solid #eeee;"></div>

    <a href="#"><i class="fas fa-image"></i></a>
    <a href="#"><i class="fas fa-video"></i></a>
    <a href="#"><i class="fas fa-table"></i></a>
    <a href="#"><i class="fas fa-calendar"></i></a>
</div>

<textarea>{{ textoNota }}</textarea>