<div class="container">
  <app-menu></app-menu>
  <app-notas></app-notas>
  <app-nota></app-nota>
</div>

<style>
  .container {
    display: flex;
    height: 100%;
  }

  app-menu {
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 10px;
  }

  app-notas {
    flex: 1;
    background-color: white;
  }

  app-nota {
    flex: 1;
    background-color: white;
    border-top-right-radius: var(--border-radius-container);
    border-bottom-right-radius: var(--border-radius-container);
  }

</style>